<div class="fp-container">
  <div class="grid">
    <div class="popup-header">
      <img src="assets/img/logo/ewo_150.png" alt="EWO"/>
      <h4 class="popup-title text-center">Forgot your Password?</h4>
    </div>
    <div class="popup-body">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="message">
          Enter your email address below. If it matches an existing account, you will receive an email with password
          reset instructions.
        </div>
        <div class="input mT30">
          <label class="content-label"><span>Email address (required)</span>
            <div class="text-danger" *ngIf="submitted && f.email.errors && f.email.errors.required">
              Please enter email.
            </div>
            <div class="text-danger" *ngIf="submitted && f.email.errors && f.email.errors.email">
              Please enter valid email address.
            </div>
          </label>
          <input [ngClass]="{'red-border': submitted && f.email.errors && f.email.errors.required}" minlength="1"
                 maxlength="50" type="email" formControlName="email"/>
        </div>
        <div class="col12_sm-12_xs-12 buttons">
          <button type="submit" class="btn btn-submit" value="Submit">Request Reset Link</button>
          <a [routerLink]="['/signin']">Back to Sign in</a>
        </div>
      </form>
    </div>
  </div>
</div>
