.fp-container {
  padding: 160px 0;
  display: flex;
  justify-content: center;
  .grid {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 5px;
    width: 794px;
    margin: 0!important;
  }

  .popup-header {
    text-align: center;
    padding: 15px 30px;
    position: relative;

    .popup-title {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #333333;
      line-height: 158.47%;
      margin: 0;
      padding: 0;
    }
  }

  .popup-body {
    padding: 2rem 10rem;
    display: flex;
    justify-content: center;
    form {
      width: 100%;
    }
    .input {
      .content-label {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #666666;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        line-height: 158.47%;
        width: 100%;
      }

      input, .input-value {
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        text-indent: 1rem;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #333333;
        line-height: 100%;

        ::-moz-placeholder {
          color: #999999;
        }

        ::-webkit-placeholder {
          color: #999999;
        }

        :-moz-placeholder {
          color: #999999;
        }

        &:disabled {
          background: #EFEFEF;
          pointer-events: none;
        }
      }

      .text-danger {
        color: #DC4139;
      }

      .red-border {
        border: 1px solid #DC4139;
      }
    }

    .mt-15 {
      margin-top: 15px;
    }
    .btn {
      padding: 10px;
      min-width: 100px;
      display: inline-block;
      height: 40px;
      text-align: center;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      text-transform: none;
      color: #fff;

      &.btn-submit, &.btn-cancel {
        background: #3BA757;
        height: 35px;
        line-height: 15px;
        border: 1px solid #3BA757;

        &:hover {
          background: #fff;
          color: #3BA757;
          border: 1px solid #3BA757;
        }

        &.outline {
          font-weight: 500;
          font-size: 16px;
          line-height: 15px;
          background: #fff;
          color: #3BA757;
          min-width: 100px;
          border: 1px solid #3BA757;
          font-family: 'Roboto', sans-serif;
          height: 35px;

          &:hover {
            color: #fff;
            background: #3BA757;
            order: 1px solid #3BA757;
          }
        }
      }

      &.btn-cancel {
        margin-right: 10px;
      }
    }
    .message {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #666666;
    }
  }

  .buttons {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    a {
      margin-top: 15px;
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 425px) {
  .fp-container {
    padding: 105px 0!important;
    .popup-body {
      padding: 2rem 4rem;
    }
  }
}
