<div class="rp-container">
  <div class="grid">
    <div class="popup-header">
      <img src="assets/img/logo/ewo_150.png" alt="EWO"/>
      <h4 class="popup-title">Reset your Password</h4>
    </div>
    <div class="popup-body">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="position-relative">
        <div class="input mT20">
          <label class="content-label">
            <span>New password (required)</span>
            <div class="text-danger" *ngIf="submitted && f.newPassword.errors && f.newPassword.errors.required">
              Please enter password.
            </div>
            <div class="text-danger" *ngIf="submitted && f.newPassword.errors && f.newPassword.errors.pattern">
              Please enter valid password.
            </div>
          </label>
          <input [ngClass]="{'red-border': submitted && f.newPassword.errors && f.newPassword.errors.required}"
                 minlength="1" maxlength="50" type="password" formControlName="newPassword"/>
        </div>
          <div class="tooltips-container">
            <div class="tooltips-head">Password Guidelines</div>
            <div class="tooltips-text">Select a password with six or more characters. Include at least one
              uppercase and one lowercase character, one integer and one special character.
            </div>
          </div>
        </div>
        <div class="input mT20">
          <label class="content-label">
            <span>Confirm Password (required)</span>
            <div class="text-danger" *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.required">
              Please re-enter password.
            </div>
            <div class="text-danger"
                 *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.mustMatch">
              Passwords entered do not match.
            </div>
          </label>
          <input
            [ngClass]="{'red-border':submitted && f.confirmPassword.errors && [f.confirmPassword.errors.required || f.confirmPassword.errors.pattern]}"
            minlength="1" maxlength="50" type="password" formControlName="confirmPassword"/>
        </div>

        <div class="col12_sm-12_xs-12 buttons">
          <button type="submit" class="btn btn-submit" value="Submit">Reset my password</button>
        </div>
      </form>
    </div>
  </div>
</div>
