<form>
  <h5 class="text-center text-primary border-bottom border-primary py-5 mb-0">Add Credentials</h5>
  <div class="row m-0">
    <div class="col-12 px-10">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <div class="text-primary fs-px-16 font-weight-bold py-5">Education</div>
            <div class="text-secondary fs-px-16 font-weight-bold py-5">Name:
              <span class="text-999 font-weight-normal"> Dr. Mike Hosrowski</span></div>
          </div>
          <div class="text-secondary fs-px-16 font-weight-bold">List educational qualifications
            <span class="text-999 font-weight-normal mr-5">(optional)</span>
            <a href="javascript:void(0);" (click)="isEducationCollapsed = !isEducationCollapsed"
               [attr.aria-expanded]="!isEducationCollapsed" aria-controls="collapseBasic"
                 class="text-primary fs-px-14 font-weight-normal">{{!isEducationCollapsed ? 'Click to collapse' : 'Click to expand'}}</a></div>
        </div>
      </div>
    </div>
    <div class="col-12 px-7 py-10" id="collapseBasic" [collapse]="isEducationCollapsed">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="form-group mb-2">
            <label class="text-666" for="fieldOfStudy1">Field of study</label>
            <input type="text" class="form-control fs-px-14" id="fieldOfStudy1" placeholder="Start typing...">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">40 remaining</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group mb-2">
            <label style="display: block" class="text-666" for="degreeCertificate1">Degree,certificate,etc.</label>
            <input type="text" class="form-control fs-px-14" id="degreeCertificate1" placeholder="Start typing...">
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="form-group mb-2">
            <label class="text-666" for="awardingInstitution1">
              Awarding Institution <span class="text-999 font-weight-normal">(please include city, state)</span>
            </label>
            <input type="text" class="form-control fs-px-14" id="awardingInstitution1"
                   placeholder="Start typing...">
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group mb-2">
            <label class="text-666" for="dateOfAward">Date of award</label>
            <input type="text" class="form-control fs-px-14" id="dateOfAward" placeholder="MM DD YYYY">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="form-group mb-2">
            <input type="text" class="form-control fs-px-14" id="fieldOfStudy2" placeholder="e.g. General Medicine">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">40 remaining</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group mb-2">
            <input type="text" class="form-control fs-px-14" id="degreeCertificate2"
                   placeholder="e.g. MS, PhD, Certificate">
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="form-group mb-2">
            <input type="text" class="form-control fs-px-14" id="awardingInstitution2"
                   placeholder="e.g. MS, PhD, Certificate">
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group mb-2">
            <input type="text" class="form-control fs-px-14" id="dateOfAward1" placeholder="MM DD YYYY">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 px-7">
          <a href="javascript:void(0);">+ Add more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 px-10">
      <div class="row">
        <div class="col-12">
          <div class="text-primary fs-px-16 font-weight-bold py-5">Professional affiliations</div>
          <div class="text-secondary fs-px-16 font-weight-bold">List professional affiliations
            <span class="text-999 font-weight-normal mr-5">(optional)</span>
            <a href="javascript:void(0);" (click)="isPersonalAffiliationCollapsed = !isPersonalAffiliationCollapsed"
               [attr.aria-expanded]="!isPersonalAffiliationCollapsed" aria-controls="collapseBasic"
               class="text-primary fs-px-14 font-weight-normal"> {{!isPersonalAffiliationCollapsed ? 'Click to collapse' : 'Click to expand'}}</a></div>
        </div>
      </div>
    </div>
    <div class="col-12 px-7 py-10" id="collapseBasic1" [collapse]="isPersonalAffiliationCollapsed">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="form-group mb-2">
            <label class="text-666" for="nameOfOrganization1">Name of organiztion</label>
            <input type="text" class="form-control fs-px-14" id="nameOfOrganization1" placeholder="Start typing...">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">40 remaining</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="form-group mb-2">
            <label class="text-666" for="affiliationType">Affiliation type <span
              class="text-999 font-weight-normal">
                (e.g. charter member)
              </span></label>
            <input type="text" class="form-control fs-px-14" id="affiliationType" placeholder="Start typing...">
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group mb-2">
            <label class="text-666" for="memberSince">Member since</label>
            <input type="text" class="form-control fs-px-14" id="memberSince" placeholder="MM DD YYYY">
          </div>
        </div>
        <div class="col-md-2 col-sm-12"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="form-group mb-2">
            <input type="text" class="form-control fs-px-14" id="nameOfOrganization11"
                   placeholder="Start typing...">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">40 remaining</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="form-group mb-2">
            <input type="text" class="form-control fs-px-14" id="affiliationType1" placeholder="Start typing...">
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group mb-2">
            <input type="text" class="form-control fs-px-14" id="memberSince1" placeholder="MM DD YYYY">
          </div>
        </div>
        <div class="col-md-2 col-sm-12"></div>
      </div>
      <div class="row">
        <div class="col-sm-12 px-7">
          <a href="javascript:void(0);">+ Add more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 px-10">
      <div class="row">
        <div class="col-12">
          <div class="text-primary fs-px-16 font-weight-bold py-5">Awards</div>
          <div class="text-secondary fs-px-16 font-weight-bold">List awards
            <span class="text-999 font-weight-normal mr-5">(optional)</span>
            <a href="javascript:void(0);" (click)="isAwardsCollapsed = !isAwardsCollapsed"
               [attr.aria-expanded]="!isAwardsCollapsed" aria-controls="collapseBasic"
               class="text-primary fs-px-14 font-weight-normal">{{!isAwardsCollapsed ? 'Click to collapse' : 'Click to expand'}}</a></div>
        </div>
      </div>
    </div>
    <div class="col-12 px-7 py-10" id="collapseBasic2" [collapse]="isAwardsCollapsed">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="form-group mb-2">
            <label class="text-666" for="awardTitle1">Award title #1</label>
            <input type="text" class="form-control fs-px-14" id="awardTitle1" placeholder="Enter title">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">120 remaining</div>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="form-group mb-2">
            <label class="text-666" for="awardingOrganization1">Awarding organization</label>
            <input type="text" class="form-control fs-px-14" id="awardingOrganization1"
                   placeholder="Enter organization">
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group mb-2">
            <label class="text-666" for="awardDate1">Date of award</label>
            <input type="text" class="form-control fs-px-14" id="awardDate1" placeholder="MM DD YYYY">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="form-group mb-2">
            <input type="text" class="form-control fs-px-14" id="awardTitle2" placeholder="Enter title">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">120 remaining</div>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="form-group mb-2">
            <input type="text" class="form-control fs-px-14" id="awardingOrganization2"
                   placeholder="Enter organization">
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group mb-2">
            <input type="text" class="form-control fs-px-14" id="awardDate2" placeholder="MM DD YYYY">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 px-7">
          <a href="javascript:void(0);">+ Add more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-10">
    <div class="d-flex justify-content-end col-12 text-right">
      <button type="button" class="btn btn-outline-primary btn-hw mr-5" (click)="bsModalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-primary btn-hw" (click)="bsModalRef.hide()">Save</button>
    </div>
  </div>
</form>
