<div class="account-home">
  <h5 class="text-center text-primary border-bottom border-primary py-5 mb-0">Account home</h5>
  <div class="row m-0">
    <div class="col p-10">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div style="font-weight: 500" class="text-primary fs-px-16 pb-1">PERFORMANCE DASHBOARD</div>
          <div style="font-weight: 500" class="text-secondary fs-px-14 py-2">Your current plan: <span class="text-blue">Basic</span>
          </div>
          <div class="text-666 fs-px-12 pb-5">The Basic plan provides a limited set of profile statistics. Learn more
            about <a style="font-weight: 500" class="text-primary">Premium plans and benefits</a></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div style="font-weight: 500" class="text-primary fs-px-14 pb-1">CLIENTS</div>
          <div class="text-secondary fs-px-14 py-2">Track client satisfaction. Happy clients and their referrals can
            help grow your business.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-primary fs-px-14 py-5">This month</div>
          <div class="row">
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">NEW CLIENTS THIS MONTH</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">10</button>
            </div>
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">NEW REVIEWS THIS MONTH</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">7</button>
            </div>
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">POSITIVE/NEGATIVE REVIEWS</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">3/4</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-primary fs-px-14 py-5">History (prior months)</div>
          <div class="row">
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">TOTAL CLIENTS</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">42</button>
            </div>
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">TOTAL REVIEWS</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">19</button>
            </div>
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">POSITIVE/NEGATIVE REVIEWS</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">15/4</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div style="font-weight: 500" class="text-primary fs-px-14 pt-7">LEADS</div>
          <div class="text-secondary fs-px-14 pb-5 pt-3">Metrics related to new leads entering the sales funnel</div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="row">
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">AD CAMPAIGN LAST MONTH</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">18</button>
            </div>
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">VERIFIED LEADS</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">23</button>
            </div>
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">INQUIRIES</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">212</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div style="font-weight: 500" class="text-primary fs-px-14 pt-7">TRAFFIC</div>
          <div class="text-secondary fs-px-14 pb-5 pt-3">We generate as much traffic as possible to increase your
            visibility, which results in more leads for you.
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-primary fs-px-14 pb-5">User visits</div>
          <div class="row">
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">MONTHLY PROFILE VIEWS</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">30</button>
            </div>
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">AVG VISIT DURATION</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">10min</button>
            </div>
            <div class="col-3">
              <div class="fs-px-12 text-blue pb-2 text-center">BOUNCES</div>
              <button type="button" class="btn btn-outline-primary h-50 text-bold w-100">2</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-primary fs-px-14 pt-7">Media dashboard</div>
          <div class="text-666 fs-px-12 pb-5 pt-3">Most popular media this month. <a class="text-primary"
                                                                                     style="font-weight: 500">Click to
            see full list</a></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="text-blue fs-px-12 py-5">MEDIA</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="text-blue fs-px-12 py-5">SAVES/SHARES</div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center mb-2">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="d-flex align-items-center">
              <img style="width: 123px;height: 74px;" class="mr-5" src="assets/img/cover-img-gallery/1.jpg"/>
              <div class="text-primary fs-px-14">Image</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div style="font-weight: 500" class="text-primary fs-px-14">30/10</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center mb-2">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="d-flex align-items-center">
              <img style="width: 123px;height: 74px;" class="mr-5" src="assets/img/cover-img-gallery/2.jpg"/>
              <div class="text-primary fs-px-14">Image</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div style="font-weight: 500" class="text-primary fs-px-14">30/10</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center mb-2">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="d-flex align-items-center">
              <img style="width: 123px;height: 74px;" class="mr-5" src="assets/img/cover-img-gallery/3.jpg"/>
              <div class="text-primary fs-px-14">Image</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div style="font-weight: 500" class="text-primary fs-px-14">30/10</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center mb-2">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="d-flex align-items-center">
              <img style="width: 123px;height: 74px;" class="mr-5" src="assets/img/cover-img-gallery/4.jpg"/>
              <div class="text-primary fs-px-14">Image</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div style="font-weight: 500" class="text-primary fs-px-14">30/10</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center mb-2">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="d-flex align-items-center">
              <img style="width: 123px;height: 74px;" class="mr-5" src="assets/img/cover-img-gallery/5.jpg"/>
              <div class="text-primary fs-px-14">Image</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div style="font-weight: 500" class="text-primary fs-px-14">30/10</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center mb-2">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="d-flex align-items-center">
              <img style="width: 123px;height: 74px;" class="mr-5" src="assets/img/cover-img-gallery/6.jpg"/>
              <div class="text-primary fs-px-14">Image</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div style="font-weight: 500" class="text-primary fs-px-14">30/10</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center mb-2">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="d-flex align-items-center">
              <img style="width: 123px;height: 74px;" class="mr-5" src="assets/img/cover-img-gallery/7.jpg"/>
              <div class="text-primary fs-px-14">Image</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div style="font-weight: 500" class="text-primary fs-px-14">30/10</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center mb-2">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="d-flex align-items-center">
              <img style="width: 123px;height: 74px;" class="mr-5" src="assets/img/cover-img-gallery/8.jpg"/>
              <div class="text-primary fs-px-14">Image</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div style="font-weight: 500" class="text-primary fs-px-14">30/10</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center mb-2">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="d-flex align-items-center">
              <img style="width: 123px;height: 74px;" class="mr-5" src="assets/img/cover-img-gallery/9.jpg"/>
              <div class="text-primary fs-px-14">Image</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div style="font-weight: 500" class="text-primary fs-px-14">30/10</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
