::ng-deep {

  // Overlay
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  .heading-title {
    font-size: 1rem;
    font-weight: bolder;
    text-align: left;
  }

  .invalid-feedback {
    font-size: 14px;
    bottom: -20px;
    color: #929292
  }

  .text-danger {
    color: #dc3545
  }

  .cover-photo-popup {
    position: relative;
    height: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 1050;

    .popup-header {
      text-align: center;
      padding: 23px 30px;
      position: relative;

      .popup-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #333333;
        line-height: 158.47%;
        margin: 0;
        padding: 0;
      }

      .closeBtn {
        position: absolute;
        right: 14px;
        top: 22px;
        cursor: pointer;
        z-index: 10;

        .icon-close {
          width: 14px;
          height: 14px;
          display: inline-block;
          vertical-align: middle;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 11px auto;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='14' height='14' fill='url(%23pattern0)' fill-opacity='0.8'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.03125)'/%3E%3C/pattern%3E%3Cimage id='image0' width='32' height='32' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfkAQkRCyzNoelhAAABQElEQVRIx5WVu07DMBRAD4lIKYJKPAb4Hb6GFTHzHSwgQUEggUTLYymwQIGJ1wQbY7cMsCCBRBh6lThJ7d7rLHZ8z3FsXzuwSkqHGawlYoMeKzAgI+PWqIjYIiPjA/bJzIqIbaGuoMG5NO6YVeETbArxzjJYFRE7ZdymKPA3ltwOnSL24TpFzK5EvLI4KiCsiGmH8bCiwF/8uF8Rs5fjC+O2qa4w4XVFnOfqsw4HmKKXJ/ix1B6Z0+Llrxg+T8xb8KoigEdewR8/ef2bX+v4k5yUpqA9qVISOgI+OMupvi9cvGW/LxK6AtzTqiynQuHiRbBakXDqCVQp/LhKkXAmAX3PGEFFknf2A7P0KoqOcbs9UtHgwpAsNUWTS3lxo8y1iuJIGtdMq3Bw74sufMk/rqnGXcUnrJNyaMSHigNS1v4BpssHpjwO+V8AAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDEtMDlUMTc6MTE6NDQrMDA6MDC4MJFNAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTAxLTA5VDE3OjExOjQ0KzAwOjAwyW0p8QAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII='/%3E%3C/defs%3E%3C/svg%3E");
        }
      }
    }

    .popup-body {
      height: calc(100% - 62px);
      padding: 0 30px;

      .btn {
        padding: 10px;
        min-width: 160px;
        display: inline-block;
        height: 40px;
        text-align: center;
        border-radius: 5px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        color: #fff;

        &.btn-submit, &.btn-cancel {
          background: #3BA757;
          border: 1px solid #3BA757;
          line-height: 20px;

          &:hover {
            background: #fff;
            color: #3BA757;
            border: 1px solid #3BA757;
          }

          &.outline {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            background: #fff;
            color: #3BA757;
            min-width: 150px;
            border: 1px solid #3BA757;

            &:hover {
              color: #fff;
              background: #3BA757;
              order: 1px solid #3BA757;
            }
          }
        }

        &.btn-cancel {
          margin-right: 10px;
        }
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
      }

      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
      }

      .plus {
        position: relative;
        width: 50px;
        height: 50px;
        background: #FFFFFF;
      }

      .plus:before,
      .plus:after {
        content: "";
        position: absolute;
        background: #999;
        border: 3px solid #999;
      }

      .plus:before {
        left: 50%;
        top: 4px;
        bottom: 4px;
        width: 2px;
        transform: translateX(-50%);
      }

      .plus:after {
        top: 50%;
        left: 4px;
        right: 4px;
        height: 2px;
        transform: translateY(-50%);
      }

      .plus-icon {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          height: 0;
        }
      }

      .message-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 120px 30px;
      }

      .section {
        margin: -3px 0px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .bordered-container {
        border: 1px dashed #666666;
        position: relative;
      }

      .section-text {
        font-size: 20px;
        font-weight: bold;
        padding: 30px 100px 0;
        color: #999999;
      }

      .plus-sign {
        font-size: 80px;
        color: #666666;
      }

      .section-sub-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        font-weight: bold;
        color: #999999;
        padding-top: 15px;
      }

      .file-upload-container {
        cursor: pointer;
        height: calc(100% - 160px);
      }

      .cover-img-container {
        padding: 10px;
        height: calc(100% - 160px);
        overflow-y: auto;

        .cover-img {
          width: 100%;
          height: 125px;
          object-fit: cover;
          cursor: pointer;
        }

        .cover-img.active {
          border: 1px solid #999999;
          box-sizing: border-box;
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
        }

        .checkbox-container {
          .checkmark {
            top: -118px;
            left: 6px;
          }
        }
      }

      .msg {
        color: #999999;
        width: 100%;
        padding: 5px 0;
        font-size: 16px !important;
      }
    }
  }

  .tabs-container {
    margin: -3px 0px;
    background-color: #fff;

    .tabs {
      position: relative;
      display: inline-flex;
      border-radius: 5px;
      margin-bottom: 18px;
      padding: 0;
      font-size: 0;
      margin-top: 18px;

      li {
        a {
          cursor: pointer;
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 500;
          color: #333333;
          font-size: 16px;
          line-height: 158.47%;
          padding: 24px 21px 17px;
          transition: none;
          -webkit-transition: none;

          &:hover {
            color: #3aa757;
            border-bottom: 5px solid transparent;
            transition: none;
            -webkit-transition: none;
          }

          &.active {
            transition: none;
            -webkit-transition: none;
            border-bottom: 5px solid #3aa757;
            color: #3aa757;
          }
        }
      }
    }
  }

  .dragMsg {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 158.47%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: #333333;
  }

  .relative {
    position: relative;
  }

  .mR20 {
    margin-right: 20px;
  }

  .text-link {
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #333333;

    &:hover {
      text-decoration: underline;
      color: #333333;
    }
  }

  @media screen and (max-width: 600px) {
    .cover-photo-popup {
      .popup-body {
        padding: 0 10px;

        .section-text {
          padding: 20px 50px 0;
          font-size: 16px;
        }

        .section-sub-text {
          font-size: 16px;
        }

        .message-info {
          padding: 20px 60px 0;
        }
      }

      .btn {
        min-width: 125px !important;
      }
    }
    .text-link {
      display: block;
    }
    .mR20 {
      margin-right: auto !important;
    }
  }
  @media screen and (max-width: 350px) {
    .cover-photo-popup {
      .section-text {
        padding: 20px 90px 0 !important;
        font-size: 14px !important;
      }

      .section-sub-text {
        font-size: 14px !important;
      }

      .message-info {
        padding: 20px 90px 0 !important;
      }
    }
    .cover-photo-popup .btn {
      min-width: 88px !important;
    }

    .tabs-container {
      .tabs {
        li {
          a {
            padding: 0 10px;
          }
        }
      }
    }
  }
}

