.verify-email {
  background-color: #3aa757;
  margin-top: 112px;
  padding: 4rem 0;

  .container {
    max-width: 964px;
    border-radius: 8px;
    margin: 0 auto;
    background: #fff;
    padding: 33rem 0;
  }
}
