<form class="staff-bios">
  <h5 class="text-center text-primary border-bottom border-primary py-5 mb-0">Add staff bios</h5>
  <div class="row m-0">
    <div class="col p-10">
      <div class="text-secondary font-weight-bold fs-px-16">List staff, add photos and credentials
        <span class="text-999 font-weight-normal">(optional)</span></div>
      <div class="row mt-4">
        <div class="col-md-2 col-sm-12">
          <div class="form-group">
            <label class="text-666" for="prefix1">Prefix</label>
            <select class="form-control fs-px-14 text-999" id="prefix1">
              <option value="">M/s.</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="form-group">
            <label class="text-666" for="providerName1">Provider name</label>
            <input type="text" class="form-control fs-px-14" id="providerName1" placeholder="First">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">15 remaining</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="form-group">
            <label style="visibility: hidden" class="text-666" for="lastName1">Last name</label>
            <input type="text" class="form-control fs-px-14" id="lastName1" placeholder="Last">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">15 remaining</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 d-flex">
          <div class="form-group">
            <label class="text-666">Photo</label>
            <button type="button" class="btn btn-outline-primary mr-5">Upload</button>
          </div>
          <div class="form-group">
            <label class="text-666">Credentials</label>
            <button type="button" class="btn btn-outline-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
          <div class="form-group">
            <select class="form-control fs-px-14 text-999" id="prefix2">
              <option value="">M/s.</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <input type="text" class="form-control fs-px-14" id="firstName2" placeholder="First">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">15 remaining</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="form-group">
            <input type="text" class="form-control fs-px-14" id="lastName2" placeholder="Last">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">15 remaining</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 d-flex">
          <div class="form-group">
            <button type="button" class="btn btn-outline-primary mr-5">Upload</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-outline-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <div class="form-group">
            <select class="form-control fs-px-14 text-999" id="prefix3">
              <option value="">M/s.</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="form-group">
            <input type="text" class="form-control fs-px-14" id="firstName3" placeholder="First">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">15 remaining</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="form-group">
            <input type="text" class="form-control fs-px-14" id="lastName3" placeholder="Last">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">15 remaining</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 d-flex">
          <div class="form-group">
            <button type="button" class="btn btn-outline-primary mr-5">Upload</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-outline-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <div class="form-group">
            <select class="form-control fs-px-14 text-999" id="prefix4">
              <option value="">M/s.</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="form-group">
            <input type="text" class="form-control fs-px-14" id="firstName4" placeholder="First">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">15 remaining</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="form-group">
            <input type="text" class="form-control fs-px-14" id="lastName4" placeholder="Last">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">15 remaining</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 d-flex">
          <div class="form-group">
            <button type="button" class="btn btn-outline-primary mr-5">Upload</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-outline-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <div class="form-group">
            <select class="form-control fs-px-14 text-999" id="prefix5">
              <option value="">M/s.</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="form-group">
            <input type="text" class="form-control fs-px-14" id="firstName5" placeholder="First">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">15 remaining</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="form-group">
            <input type="text" class="form-control fs-px-14" id="lastName5" placeholder="Last">
            <div class="d-flex justify-content-end pt-1 text-999 fs-px-14">15 remaining</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 d-flex">
          <div class="form-group">
            <button type="button" class="btn btn-outline-primary mr-5">Upload</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-outline-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="javascript:void(0);">+ Add more</a>
        </div>
      </div>
      <ng-container>
        <div class="row pt-10">
          <div class="col-md-12 col-sm-12 text-right">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-outline-primary mr-5 btn-hw">Cancel</button>
              <button (click)="openAddCredentialsPopup()" type="button" class="btn btn-primary btn-hw">Save</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</form>
