@import '../../../../scss/variables';

.registration-reminder-popup {
  .modal-header {
    border-bottom: 1px solid $primary;
  }

  .modal-footer {
    border: none;
  }

  .btn-w {
    width: 184px;
  }
}
