.review-rating {
  .star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
  }

  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #FFC200;
  }
}
