<form class="account-security" [formGroup]="accountSecurityForm" (ngSubmit)="onASSubmit()">
  <h5 class="text-center text-primary border-bottom border-primary py-5 mb-0">Account security</h5>
  <div class="row m-0">
    <div class="col p-10">
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="form-group mb-8">
            <label class="text-666 d-flex justify-content-between">
              <span>Old password <span class="text-999 font-weight-normal">(required)</span></span>
              <span class="text-danger" *ngIf="asSubmitted && f.oldPassword.errors && f.oldPassword.errors.required">
                    Please enter old password.
                  </span>
            </label>
            <input type="password" class="form-control fs-px-14" placeholder="Old password"
                   [ngClass]="{'is-invalid':asSubmitted && f.oldPassword.errors && f.oldPassword.errors.required}"
                   formControlName="oldPassword">
          </div>
          <div class="position-relative">
            <div class="form-group mb-8">
              <label class="text-666 d-flex justify-content-between">
                <span>New password <span class="text-999 font-weight-normal">(required)</span></span>
                <span class="text-danger" *ngIf="asSubmitted && f.newPassword.errors && f.newPassword.errors.required">
                    Please enter new password.
                  </span>
                <span class="text-danger" *ngIf="f.newPassword.dirty && f.newPassword.errors && f.newPassword.errors.pattern">
                  Entered new password must be valid as per guidelines.
                </span>
                <span class="text-danger" *ngIf="f.newPassword.dirty && f.newPassword.errors && f.newPassword.errors.mustNotMatch">
                  Your new password cannot be the same as your old password.
                </span>
              </label>
              <input formControlName="newPassword" type="password" class="form-control fs-px-14" placeholder="New password"
                     [ngClass]="{'is-invalid':asSubmitted && f.newPassword.errors && [f.newPassword.errors.required || f.newPassword.errors.pattern]}">
            </div>
            <div class="tooltips-container">
              <div class="tooltips-head">Password Guidelines</div>
              <div class="tooltips-text">Select a password with six or more characters. Include at least one
                uppercase and one lowercase character, one integer and one special character.
              </div>
            </div>
          </div>
          <div class="form-group mb-8">
            <label class="text-666 d-flex justify-content-between">
              <span>Confirm password <span class="text-999 font-weight-normal">(required)</span></span>
              <span class="text-danger"
                   *ngIf="asSubmitted && f.confirmPassword.errors && f.confirmPassword.errors.required">
                Enter a confirm password.
              </span>
              <span class="text-danger"
                   *ngIf="asSubmitted && f.confirmPassword.errors && f.confirmPassword.errors.mustMatch">
                Passwords must match.
              </span>
            </label>
            <input type="password" class="form-control fs-px-14" placeholder="Confirm password"
                   formControlName="confirmPassword" [ngClass]="{'is-invalid':asSubmitted && f.confirmPassword.errors &&
                   [f.confirmPassword.errors.required || f.confirmPassword.errors.mustMatch]}">
          </div>
        </div>
        <div class="col-md-5 col-sm-12"></div>
      </div>
      <div class="row py-5">
        <div class="d-flex justify-content-end col-sm-12 text-right">
          <button type="button" class="btn btn-outline-primary mr-5 btn-hw">Cancel</button>
          <button type="submit" class="btn btn-primary btn-hw">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
