@import '../../../../scss/variables';

.flag-review-popup {
  .modal-header {
    border-bottom: 1px solid $primary;
  }

  .modal-footer {
    border: none;
  }
  .form-check-input{
      width: 18px;
     height: 18px;
  }
}
