
.modal.in{
    display: block !important;
    opacity: 1 !important;
    background: #0000009c;
}
.mt-cls{
    margin-top: 16px;
}
input.form-control.fs-px-14.frst{
    width: 100%;
    max-width: 18rem;
}

input#no {
    margin-left: 1rem;
    margin-right: 5px;
}
input#yes {
    margin-right: 5px;
}
.justify-content-end.sec {
    text-align: end;
    padding-right: 2rem;
}
.input_check{
    color: #3AA757;
    font-size: 27px;
    &.text-gray{
        color: gray;
    }
}

.wdth{
        max-width: 800px;
    
}

.wdth1{
    max-width: 600px;

}

h5#exampleModalLabel {
    color: #3AA757;
    text-align: center;
    width: 100%;
    font-weight: 500;
}
span.text-secondary.fs-px-18 {
    color: #3AA757 !important;
    text-align: center;
    width: 100%;
    font-weight: 500;
}
.d-flex.justify-content-end.pt-1.text-999.fs-px-14 {
    text-align: center !important;
    justify-content: center !important;
    padding-left: 5.5rem;
}
p.align {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
}
p.align-sec {
    padding-left: 3rem !important;
    // width: 25rem;
    color: red;
}
input.form-control.fs-px-14.frst.red-border {
    border: 1px solid red;
}
.check-box {
    display: flex;
}
label.pl-2.d-flex {
    padding-right: 5px;
}
.check_active{
    display: none;

    &:not(:checked){
        + label{
            > i{
            &.fa-check-square{
                display: none;
            }

            &.fa-square-o{
                display: inline-block;
            }
            }
        }
    }
    &:checked{
        + label{
            > i{
            &.fa-check-square{
                display: inline-block
            }

            &.fa-square-o{
                display: none;
            }
            }
        }
    }
}


@media (max-width: 767px) {
.d-flex.justify-content-end.pt-1.text-999.fs-px-14 {
    text-align: center !important;
    justify-content: center !important;
    padding-left: 11.5rem;
}
}