::ng-deep {
  // Overlay
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  .delete-popup {
    position: relative;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 1050;
    height: 100%;

    .popup-header {
      border-bottom: 1px solid #3BA757;
      text-align: center;
      padding: 15px 30px;
      position: relative;

      .popup-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #333333;
        line-height: 158.47%;
        margin: 0;
        padding: 0;
      }
    }

    .popup-body {
      padding: 0 10px;
      .btn {
        padding: 10px;
        min-width: 100px;
        display: inline-block;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        color: #fff;
        line-height: 10px;

        &.btn-submit, &.btn-cancel {
          background: #3BA757;
          border: 1px solid #3BA757;

          &:hover {
            background: #fff;
            color: #3BA757;
            border: 1px solid #3BA757;
          }

          &.outline {
            font-weight: 500;
            font-size: 16px;
            line-height: 10px;
            background: #fff;
            color: #3BA757;
            min-width: 100px;
            border: 1px solid #3BA757;

            &:hover {
              color: #fff;
              background: #3BA757;
              border: 1px solid #3BA757;
            }
          }
        }

        &.btn-cancel {
          margin-right: 10px;
        }
      }

      .input {
        padding: 5px;
        .textarea-field {
          transition: all .3s;
          height: 7rem;
          border-radius: 7px;
          border: 1px solid #d2d5d8;
          width: 100%;
          text-indent: 0;
          padding: 0.5rem 1rem 1rem 0.5rem;
          color: #333333;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 21px;
          background: #FFFFFF;
          outline: none;
        }
        .comment {
          font-size: 14px;
          color: #DC4139;
          float: right;
        }
        .red-border{
          border:1px solid #DC4139;
        }
      }
    }
  }
}
