.modalInr .cutomBtn {
  min-width: 100%;
  font-weight: normal;
  min-height: 40px;
  font-size: 16px;
  padding: 10px;
  line-height: 1.43;
  border-radius: 5px;
}

.closeBtn {
  position: absolute;
  right: -40px;
  top: -12px;
  cursor: pointer;
  z-index: 10;

  .icon-close {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px auto;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='14' height='14' fill='url(%23pattern0)' fill-opacity='0.8'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.03125)'/%3E%3C/pattern%3E%3Cimage id='image0' width='32' height='32' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfkAQkRCyzNoelhAAABQElEQVRIx5WVu07DMBRAD4lIKYJKPAb4Hb6GFTHzHSwgQUEggUTLYymwQIGJ1wQbY7cMsCCBRBh6lThJ7d7rLHZ8z3FsXzuwSkqHGawlYoMeKzAgI+PWqIjYIiPjA/bJzIqIbaGuoMG5NO6YVeETbArxzjJYFRE7ZdymKPA3ltwOnSL24TpFzK5EvLI4KiCsiGmH8bCiwF/8uF8Rs5fjC+O2qa4w4XVFnOfqsw4HmKKXJ/ix1B6Z0+Llrxg+T8xb8KoigEdewR8/ef2bX+v4k5yUpqA9qVISOgI+OMupvi9cvGW/LxK6AtzTqiynQuHiRbBakXDqCVQp/LhKkXAmAX3PGEFFknf2A7P0KoqOcbs9UtHgwpAsNUWTS3lxo8y1iuJIGtdMq3Bw74sufMk/rqnGXcUnrJNyaMSHigNS1v4BpssHpjwO+V8AAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDEtMDlUMTc6MTE6NDQrMDA6MDC4MJFNAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTAxLTA5VDE3OjExOjQ0KzAwOjAwyW0p8QAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII='/%3E%3C/defs%3E%3C/svg%3E");
  }
}

.cutomBtn:hover {
  background-color: #3AA757;
}

.bg--green {
  background-color: #3AA757 !important;
}

.btn-facebook {
  width: 100%;
  height: 40px;
  background: #4968AD;
  border: 1px solid #4968AD;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 5px;
  color: #FFFFFF;
  cursor: pointer;
}

.btn-google {
  width: 100%;
  position: relative;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #666666;
  cursor: pointer;
}

.mT45 {
  margin-top: 45px !important;
}

.ewoBtn {
  position: relative;
}

.mB20 {
  margin-bottom: 20px;
}

.google-icon, .fb-icon {
  width: 22px !important;
  height: 28.95px !important;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 10px;
}

.new-account {
  text-transform: none;
  color: #3AA757 !important;
  background-color: #ffffff !important;

  &:hover {
    color: #ffffff !important;
    background-color: #3AA757 !important;
  }
}

.user_signin .modalTop {
  padding-top: 0;
}

.user_signin .invalid-feedback {
  color: #DC4139;
  font-size: 14px;
  bottom: 40px;
}

.modalInr .input input {
  height: 40px;
  padding: 0 14px;
  color: #333333 !important;
  background-color: #ffffff !important;
}

:-ms-input-placeholder {
  color: #333333;
}

::-ms-input-placeholder {
  color: #333333;
}

:-moz-placeholder,
::-moz-placeholder {
  color: #333333;
}

.modalInr .input {
  .is-invalid {
    border: 1px solid #E8453C;
  }
}

.modalInr .input {
  .red-border {
    border: 1px solid #E8453C;
  }
}

.modalInr .error-msg-container {
  width: 319px;
  height: 20px;
  background: rgba(232, 69, 60, 0.2);
  margin-bottom: 15px;
  margin-left: 31px;

  .error-msg {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #E8453C;
    padding: 0 25px;
  }
}

.modalInr .ewo_btn {
  height: inherit;
  border: 1px solid;
  padding: 9px !important;
  margin-top: 1px;
}

.modalInr .input {
  margin-bottom: 20px;
  height: 40px;
}

.joinTerm a,
.joinTerm {
  line-height: 21px;
  font-size: 14px;
}

.rememberDiv {
  &:focus {
    outline: none;
  }
}

.mT35 {
  margin-top: 35px;
}

.forgt_pwd {
  padding-top: 4px;
}

.modalInr[_ngcontent-c6] .cutomBtn[_ngcontent-c6] {
  padding: 9px;
}

@media screen and (min-width: 768px) {
  .user_signin .signInModal {
    border-radius: 5px;
    /* padding: 20px 60px;
     box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);*/
  }
  .user_signin .signInModal img {
    width: 160px;
    height: 60px;
  }
  .user_signin .signInModal {
    margin-top: 0px;
  }
  .user_signin .modalTop {
    padding-top: 0;
  }
  .user_signin .signInModal h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #333333;
    padding-top: 15px;
  }
  .modalInr .btnBlock {
    margin-top: 37px;

    .mT9 {
      margin-top: 9px;
    }
  }
  .user_signin {
    padding-bottom: 107px;
  }
  .user_signin .checkAccount {
    padding-bottom: 10px !important;
    padding-top: 112px;
    color: #333333;
    font-family: Roboto;
    font-style: normal;
    cursor: pointer;
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 21px;
  }
  .modalInr .checkbox .checkbox__button {
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    top: 4px;
  }
  .closeBtn {
    right: -48px;
  }
}

@media screen and (max-width: 768px) {

  .error-msg-container {
    width: 283px !important;
  }
  .closeBtn {
    right: -20px;
  }

  .user_signin .checkAccount {
    padding-bottom: 41px !important;
  }
}

@media screen and (max-width: 425px) {
  .error-msg-container {
    width: 335px !important;
    margin-left: 0 !important;
  }
  .closeBtn {
    right: -12px;
  }
}

@media screen and (max-width: 375px) {
  .error-msg-container {
    width: 284px !important;
  }
}
