$white: #ffffff;
$primary: #3AA757; //#9ce533
$secondary: #333333;

$c-gray: #a6a6a6;
$black: #000000;
$info: #4460A0;
$bg-gray: #efefef;
$gray-ccc: #CCCCCC;
$gray-333: #333333;
$gray-666: #666666;
$gray-999: #999999;
$red: #DC4139;
$skyblue: #4DC8F1;
$darkblue: #007EBB;
$input-color: #333333;
$input-border-color: $gray-ccc;
$input-focus-box-shadow: none;
$input-focus-border-color: $gray-ccc;
$grey-E3E: #E3E3E3;
$input-placeholder-color: $gray-999;
$form-feedback-icon-invalid: none;

